<div class="container p-4 mt-5">
    <h1>NOVO ESTADO ORDEM DE SERVIÇO</h1>
    <hr />
    <div class="container col-md-8 offset-md-2">
        {{#each errors}}
        <div class="alert alert-danger">
            {{text}}
        </div>
        {{else}}
        {{/each}}
        <div class="card-body">

            <form class="row g-3" action="/admin/status/new" method="POST">

                <div class="col-md-12">
                    <label for="inputState" class="form-label">Cliente | Equipamento</label>
                    <select id="inputState" class="form-select" name="os">
                        <option selected="true" value="0">Selecionar...</option>
                        {{#each os}}
                        <option value="{{_id}}">{{customer.customer_name}} | {{equipament}}</option>
                        {{else}}
                        <option value="0">Nenhum cliente encontrado</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 col-md-12">
                    <label for="exampleFormControlTextarea1" class="form-label">Decrever o estado actual</label>
                    <textarea name="description" required="true" class="form-control" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>

                <div class="col-md-12">
                    <button type="submit" class="btn btn-success form-control">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4"></div>
</div>