<div class="container p-4 mt-5">
    <h1>ACTUALIZAR CLIENTE</h1>
    <hr />
    <div class="container col-md-8 offset-md-2">
        {{#each errors}}
        <div class="alert alert-danger">
            {{text}}
        </div>
        {{else}}
        {{/each}}
        <div class="card-body">

            <form class="row g-3" action="/admin/cliente/edit" method="POST">
                <input type="hidden" name="id" value="{{customer._id}}" />
                <div class="col-md-12">
                    <label for="inputName" class="form-label">Nome do cliente</label>
                    <input type="text" required="true" value="{{customer.customer_name}}" name="customer_name"
                        class="form-control" id="inputName">
                </div>

                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" required="true" class="form-control" value="{{customer.email}}" name="email"
                        id="inputEmail4">
                </div>

                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Telefone</label>
                    <input type="tel" name="phone_number" value="{{customer.phone_number}}" class="form-control"
                        id="inputPhone">
                </div>
                <div class="mb-3 col-md-12">
                    <label for="exampleFormControlTextarea1" class="form-label">Endereço</label>
                    <textarea name="information" class="form-control" id="exampleFormControlTextarea1"
                        rows="3">{{customer.information}}</textarea>
                </div>


                <div class="col-md-12">
                    <button type="submit" class="btn btn-success form-control">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4"></div>
</div>